.TodoBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding:5%;
    margin: 2%;
    background-color: blanchedalmond;
    border: 4px ridge #1C6EA4;
    border-radius: 40px 0px 40px 0px;

    height: 140px;
}

.btn-container
{
    position: relative;
    left: 270px;
    top: -50px;
}