html{
  margin: 0px;
  padding: 0px;
  background-color: rgb(167, 213, 253);
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}



.App {
  min-width: 320px !important;
  max-width: 480px !important; 
}
